<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Midori Bowen</a>
    </div>
    <ul class="nav nav-tabs navbar-left">
      {{#link-to 'index' tagName="li"}}<a href={{view.href}}>Projects</a> {{/link-to}}
      {{#link-to 'resume' tagName="li"}}<a href={{view.href}}>Resume</a>{{/link-to}}
      {{#link-to 'about' tagName="li"}}<a href={{view.href}}>About</a>{{/link-to}}
    </ul>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <div class="nav navbar-nav navbar-right">
        <span class="icon-link">
          <a href="https://github.com/midoribowen" target="_blank">{{fa-icon 'github' size="3" class="fa-inverse"}}</a>
        </span>
        <span class="icon-link">
          <a href="https://linkedin.com/in/midoribowen" target="_blank">{{fa-icon 'linkedin-square' size="3" class="fa-inverse"}}</a>
        </span>
        <span class="icon-link">
          <a href="mailto:midori.p.bowen@gmail.com" target="_blank">{{fa-icon 'envelope' size="3" class="fa-inverse"}}</a>
        </span>
      </div>
    </div>
  </div>
</nav>
<div class="flex-container">
  <div class="header">
    <h6>Android & Web Developer</h6>
    <p>
      I'm currently developing an AngularJS web app for <a href="http://solalla.com/">Solalla Web Services</a>.
    </p>
  </div>
  <div class="main">
    <div class="panel panel-default">
      <div class="panel-body">
        {{liquid-outlet}}
      </div>
    </div>
  </div>
</div>
